<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibrickedlabs.internshala">

    <application
        android:allowBackup="true"
        android:icon="@drawable/internsala"
        android:label="@string/app_name"
        android:roundIcon="@drawable/internsala"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".WorkshopsData.WorkshopProvider"
            android:authorities="com.ibrickedlabs.internshala.WorkshopsData"
            android:exported="false" />
        <provider
            android:authorities="com.ibrickedlabs.internshala.UserData"
            android:name=".UserData.UserProvider"
            android:exported="true"/>
    </application>

</manifest>